In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/jobs_cleaned.csv')
df.head()

,title,company_name,location,description,skills
0,Protection and Controls Engineer,AECOM,"New York, NY",Company Description\n\nWork with Us. Change th...,"['excel', 'git']"
1,"Software Engineer, Global Banking & Markets, G...","Goldman Sachs, Inc.","New York, NY","Software Engineer, Global Banking & Markets, G...","['python', 'machine learning', 'communication'..."
2,Reliability Engineer,Cushman & Wakefield,"Staten Island, NY",Job Title\nReliability EngineerJob Description...,"['excel', 'communication', 'data analysis']"
3,Electrical Engineering Specialist I,"Burns Engineering, Inc.","New York, NY",About Burns:\n\nBurns Engineering provides pro...,[]
4,Senior Software Engineer – Network Reliability...,The Trade Desk,"New York, NY (+1 other)",The Trade Desk is a global technology company ...,"['communication', 'aws', 'docker']"